<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImitationTaoBao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48979B491E34AC8F00F62548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48979B621E34AC8F00F62548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48979B6D1E34AC9000F62548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
