<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>489945721E0A588C00EB1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4899458B1E0A588C00EB1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489945961E0A588C00EB1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
